<%- title t('scripts.stats_title', :script_name => @script.name(I18n.locale)) %>
<%- description 'Install stats for ' + @script.name(I18n.locale) %>

<h3><%=t('scripts.stats_daily_installs_heading')%></h3>

<%= javascript_include_tag "Chart" %>

<div id="install-stats-chart-container"></div>

<%
max_labels = 30
label_skip = max_labels > @install_data.keys.length ? 1 : (@install_data.keys.length / 30)

max_installs = @install_data.values.max
if max_installs > 0
	x = Math.log10(max_installs).floor
	scale_top=(max_installs/(10.0**x)).ceil*10**x
	scale_steps = [10,max_installs].min
	scale_step_width = scale_top / scale_steps
else
	scale_top = 1
	scale_steps = 1
	scale_step_width = 1
end

%>
<script>
var data = {
	labels: [<%=@install_data.keys.each_with_index.map{ |d, i| 
			'"' + ((i % label_skip == 0) ? escape_javascript(d.to_s): '') + '"'
		}.join(',').html_safe%>
	],
	datasets: [{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			data: [<%=@install_data.values.join(',')%>]
	}]
}

var container = document.getElementById("install-stats-chart-container");
var canvas = document.createElement("canvas")
canvas.id = "install-stats-chart";
canvas.width = getComputedStyle(container).width.replace("px", "");
canvas.height = 400;
container.appendChild(canvas)

var ctx = canvas.getContext("2d");
var myNewChart = new Chart(ctx).Bar(data, {barValueSpacing: 0, scaleOverride: true, scaleStartValue: 0, scaleSteps: <%=scale_steps%>, scaleStepWidth: <%=scale_step_width%>});
</script>

<table>
	<thead>
		<tr>
			<th><%=t('scripts.stats_daily_installs_date_column_heading')%></th>
			<th class="numeric"><%=t('scripts.stats_daily_installs_install_count_column_heading')%></th>
		</tr>
	</thead>
	<tbody>
		<% @install_data.each do |d, i| %>
			<tr>
				<td><%=d%></td>
				<td class="numeric"><%=number_with_delimiter(i)%></td>
			</tr>
		<% end %>
	</tbody>
</table>
