<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? content_for(:title) : "Greasy Fork" %></title>
	<% if content_for?(:description) %><meta name="description" value="<%=content_for(:description)%>"><% end %>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<% if defined?(@bots) %>
		<meta name="robots" content="<%=@bots%>">
	<% end %>
	<link rel="canonical" href="<%=url_for(params.slice(*@canonical_params).merge({:host => 'greasyfork.org', :protocol => 'https'}))%>">
	<link rel="icon" href="<%=asset_path 'blacklogo16.png'%>">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<% if request.get?
		# https://support.google.com/webmasters/answer/189077
		Rails.configuration.available_locales.each do |code, name|
			if code == 'en' %>
				<link rel="alternate" hreflang="<%=code%>" href="<%=url_for(params.except(:locale).merge({:locale => nil, :only_path => true}))%>">
			<% else %>
				<link rel="alternate" hreflang="<%=code%>" href="<%=url_for(params.except(:locale).merge({:locale => code, :only_path => true}))%>">
			<% end
		end
	end %>
	<% if defined?(@link_alternates)
		@link_alternates.each do |la| %>
			<link rel="alternate" type="<%=la[:type]%>" href="<%=la[:url]%>" <%if !la[:title].nil?%>title="<%=la[:title]%>"<%end%>>
		<% end
	end %>
</head>
<body>

	<header id="main-header">
		<div id="site-name">
			<%=link_to_unless_current "<img src=\"#{asset_path 'blacklogo96.png'}\" alt=\"\">".html_safe, root_path%>
			<div id="site-name-text">
				<h1><%=link_to_unless_current 'Greasy Fork', root_path%></h1>
				<p class="subtitle">Neither greasy nor a fork.</p>
			</div>
		</div>
		<div id="site-nav">
			<div id="nav-user-info">
				<% if user_signed_in? %>
					<span class="user-profile-link"><%=link_to(current_user.name, current_user)%></span>
				<% else %>
					<span class="sign-in-link"><%=link_to(t('.sign_in'), new_user_session_path(request.get? ? {:return_to => request.fullpath} : {}), {:rel => 'nofollow'})%></span>
				<% end %>
				<% if request.get?
					form_action = url_for(params.except(:locale).merge({:locale => nil, :only_path => true}))
				else
					form_action = root_path({:locale => nil, :only_path => true})
				end %>
				<form id="language-selector" action="<%=form_action%>">
					<select id="language-selector-locale" name="locale">
						<% Rails.configuration.available_locales.each do |code, name|
							if request.get?
								if code == 'en' %>
									<option data-language-url="<%=url_for(params.except(:locale).merge({:locale => nil, :only_path => true}))%>" value="<%=code%>"<%if params[:locale] == code or params[:locale].nil?%> selected<%end%>><%=name%> (<%=code%>)</option>
								<% else %>
									<option data-language-url="<%=url_for(params.except(:locale).merge({:locale => code, :only_path => true}))%>" value="<%=code%>"<%if params[:locale] == code%> selected<%end%>><%=name%> (<%=code%>)</option>
								<% end
							else
								if code == 'en' %>
									<option data-language-url="<%=root_path({:locale => nil, :only_path => true})%>" value="<%=code%>"<%if params[:locale] == code or params[:locale].nil?%> selected<%end%>><%=name%> (<%=code%>)</option>
								<% else %>
									<option data-language-url="<%=root_path({:locale => code, :only_path => true})%>" value="<%=code%>"<%if params[:locale] == code%> selected<%end%>><%=name%> (<%=code%>)</option>
								<% end
							end
						end %>
						<option value="help">Help us translate!</option>
					</select><input id="language-selector-submit" type="submit" value="→">
					<script>
						/* submit is handled by js if enabled */
						document.getElementById("language-selector-submit").style.display = "none"
					</script>
				</form>
			</div>
			<nav>
				<li class="scripts-index-link"><%=link_to(t('.script_list'), scripts_path)%></li>
				<% # user signed in to main site, but not to forum?
				if user_signed_in? and cookies[:Vanilla].nil? %>
					<li class="forum-link"><%=link_to(t('.forum'), '/forum/entry/jsconnect?client_id=1462516369')%></li>
				<% else %>
					<li class="forum-link"><%=link_to(t('.forum'), '/forum/')%></li>
				<% end %>
				<li class="help-link"><%=link_to_unless_current(t('.help'), help_path)%></li>
				<li class="nav-search">
					<form id="script-search" action="<%=search_scripts_path()%>">
						<input type="search" name="q" placeholder="<%=t('.search')%>" value="<%=params[:q]%>" size="10"><input type="submit" value="→">
					</form>
				</li>
			</nav>
		</div>
	</header>

<% if !notice.nil? %>
	<p class="notice"><%=notice%></p>
<% end %>
<% if !alert.nil? %>
	<p class="alert"><%=alert%></p>
<% end %>

<%= content_for?(:content) ? yield(:content) : yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48197018-1', 'greasyfork.org');
  ga('send', 'pageview');

</script>

</body>
</html>
